* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  /* border: 1px solid red; */
}

html {
  line-height: 1.6;
  /* font-family: Roboto; */
  font-family: monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
h5 {
  line-height: 1.2;
  font-family: Libre Baskerville;
}

a {
  text-decoration: none;
  color: black;
}

ul {
  list-style: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}
/*
form div {
  margin: 1em;
  display: inline-block;
} */

/* navbar */
header {
  display: flex;
  justify-content: space-between;
  padding: 6px 50px;
  flex: 1 0 100%;
  flex-wrap: wrap;
}

.nav-link {
  align-self: center;
}

.nav-link h1 {
  font-size: 30px;
  color: #48735d;
}

#cart-icon {
  height: 24px;
  width: 24px;
}

/* all plants landing page */
.plant-list-wrapper {
  margin-bottom: 100px;
}

.plant-list-wrapper h2 {
  margin: 50px 8% 5px 8%;
  border-bottom: 1px solid black;
}

.plant-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-auto-rows: 250px;
  grid-auto-flow: dense;
  grid-row-gap: 8em;
  grid-column-gap: 3em;
  padding: 10px 8%;
}

.plant-card h3 {
  color: #48735d;
  font-size: 26px;
}

.card-info {
  display: flex;
  justify-content: space-between;
}

.card-info h3 {
  padding-top: 10px;
  border-bottom: 1px #aaa solid;
  padding-bottom: 4px;
}

.plant-card img {
  /* display: block; */
  object-fit: cover;
  height: 100%;
  width: 100%;
}

.banner {
  height: 400px;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-image: url('../images/banner02v2.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom right;
  background-color: black;
  padding: 0 15%;
}

.banner h1 {
  font-size: 72px;
  color: white;
}

@media only screen and (max-width: 600px) {
  .banner h1 {
    font-size: 46px;
  }
}

.banner h4 {
  padding-top: 20px;
  font-size: 24px;
  color: #f8aac9;
  font-family: monospace;
  font-weight: 100;
}

.banner-text {
  color: white;
}

#banner-img {
  display: block;
  object-fit: cover;
  width: 100%;
}

/* single plant view */
.single-plant-wrapper {
  display: grid;
  /* grid-template-columns: 1fr 1fr; */
  grid-template-columns: repeat(auto-fit, minmax(330px, 1fr));
  margin: 0 30px 30px 30px;
  border: black 1px solid;
}

.single-plant-img img {
  display: block;
  object-fit: cover;
  width: 100%;
  padding: 20px;
  /* min-height: 300px; */
}

.single-plant-info {
  padding: 15%;
}

.single-plant-info div {
  padding-right: 10px;
}

.plant-head {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding-bottom: 2px;
  margin-bottom: 10px;
}

.plant-head h3 {
  padding-bottom: 2px;
  margin-bottom: 10px;
  padding: 5px;
  background: #a9cbbb;
  background-position: 50px 150px;
}

.plant-head h1 {
  font-size: 46px;
  text-decoration: underline;
}

.submit-button {
  outline: none;
  height: 40px;
  text-align: center;
  width: 130px;
  border-radius: 40px;
  background: #fff;
  border: 2px solid #a9cbbb;
  /* color: #a9cbbb; */
  letter-spacing: 1px;
  text-shadow: 0;
  font-size: 14px;
  font-weight: bold;
  /* font-family: monospace; */
}

.submit-button:hover {
  color: white;
  background: #a9cbbb;
}

.single-plant-wrapper form {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

/* Stripe form */
.stripe-checkout {
  max-width: 600px;
  padding: 50px;
  border: 1px solid black;
  margin: 50px auto;
}

/* Cart */
.cart {
  /* background-color: #a9cbbb; */
  /* display: grid; */
  /* grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); */
  /* grid-auto-rows: 250px;
  grid-auto-flow: dense;
  grid-row-gap: 8em;
  grid-column-gap: 3em; */
  padding: 10px 8%;
  display: flex;
  flex-direction: column;
}
/*
.cart-wrapper {
  display: flex;
  flex-direction: c
} */

.cart-card {
  display: flex;
  /* justify-content: center; */
  align-items: center;
  padding: 20px;
  border: black 1px solid;
  margin: 20px 0;
}

.cart-wrapper h2 {
  margin: 50px 8% 5px 8%;
  border-bottom: 1px solid black;
}

.cart-img img {
  max-height: 250px;
  padding-right: 50px;
}

.cart-info h1 {
  font-size: 46px;
  text-decoration: underline;
}

.cart-info h3 {
  margin-top: 10px;
}

.cart-info h4 {
  margin-top: 10px;
}

nav {
  font-size: 16px;
}

.final-total {
  display: flex;
  margin-left: 100px;
  margin-bottom: 50px;
}

.quantity-box {
  display: flex;
  flex-direction: row;
}

.quantity-box h4 {
  padding-right: 5px;
}

.signup {
  font-size: 18px;
  margin: 100px auto;
  padding: 40px;
  border: black 1px solid;
  /* margin: 20px 0; */
  max-width: 500px;
}

.signup h1 {
  font-size: 46px;
  text-decoration: underline;
  margin-bottom: 20px;
}

.signup button {
  margin: 15px 0px 15px 0px;
}
